<body class="error_body">
    <div class="error_area">
        <h1>404</h1>
        <p>Lost in nowhere? Go back to the <a href="index-2.html">previous page</a> or</p>
        <a href="index-2.html" class="waves-effect visit_homepage">Visit homepage</a>
    </div>
</body>