<div class="jumbotron">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">WELCOME <%= name %></p>
    <hr class="my-4">
    <p>You are now loggedin</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/users/logout" role="button">LOGOUT</a>
    </p>
  </div>