<div class="jumbotron">
        <h1 class="display-3">Hello, There!</h1>
        <p class="lead">Welcome to my app</p>
        <hr class="my-4">
        <p>My first login register app</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg btn-block" href="/users/login" role="button">Login</a>
          <a class="btn btn-danger btn-lg btn-block" href="/users/register" role="button">Register</a>
        </p>
      </div>